<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{main}"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>客户管理</title>
    <link th:href="@{/localcss/crmlist.css}" href="../static/localcss/crmlist.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>客户信息管理 > 客户信息 > 联系人 <i class="fa fa-user"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" action="/user/list" th:action="@{/customer/customerList}">
                            <input type="hidden" name="pageIndex" value="1"/>

                            <div class="col-sm-4" style="width: 813px; height: 36px; border: 1px solid blue; position: relative; top: 10px;">
                                <div style="width: 200px; height: 34px; border: 1px solid #6EC2FD; background-color: #6EC2FD; ">
                                    <p style="text-align: center;line-height: 30px; color: black;">客户名称</p>
                                </div>
                                <div style="width: 200px; height: 34px; border: 1px solid #EEEEFE ; background-color: #EEEEFE; position: absolute; left: 208px; top: -0.1px;">
                                    <p style="text-align: center;line-height: 30px; color: black" id="custName" th:text="${session.custNo}"></p><!--th:text="${cstLinkmenList.get(0).getLkmCustName()}"-->
                                </div>
                                <div style="width: 200px; height: 34px; border: 1px solid #6EC2FD; background-color: #6EC2FD; position: absolute; left: 409px;  top: -0.1px;">
                                    <p style="text-align: center;line-height: 30px; color: black;">客户编号</p>
                                </div>
                                <div style="width: 200px; height: 34px; border: 1px solid #EEEEFE; background-color: #EEEEFE; position: absolute; left: 610px;  top: -0.1px;">
                                    <p style="text-align: center;line-height: 30px; color: black" id="custNo" th:text="${session.custName}"></p><!--th:text="${cstLinkmenList.get(0).getLkmCustNo()}"-->
                                   </div>
                                <span></span>
                                <div style="width: 0px; height: 34px; border: 1px solid #EEEEFE;  position: absolute; left: 811px;  top: -0.9px;">
                                    <a id="send"  class="btn btn-primary left " th:href="@{/customer/toAddLinkman}">新建</a>
                                    <button type="button" class="btn btn-primary" id="back">返回</button>
                                </div>

                            </div>


                            <!--<ul>
                                <li style="width: 220px;">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-6" style="background-color: #6EC2FD;">客户名称</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="custName" type="text" th:value="${custName}"
                                                   class="form-control col-md-6 col-xs-12" value="" readonly style="background-color: #EEEEFE;">
                                        </div>
                                    </div>
                                </li>
                                <li style="width: 220px;">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-6" style="background-color: #6EC2FD;">客户编号</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="custNo" type="text" th:value="${custNo}"
                                                   class="form-control col-md-6 col-xs-12" value="" readonly style="background-color: #EEEEFE;">
                                        </div>
                                    </div>
                                </li>
                            </ul>-->


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">

                                <div class="col-sm-12">
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">姓名
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                性别
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                职位
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                办公电话
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                手机
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                备注
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="cstLinkman:${cstLinkmenList}">

                                            <td th:text="${cstLinkman.lkmName}">usrName</td>
                                            <td th:text="${cstLinkman.lkmSex}">usrName</td>
                                            <td th:text="${cstLinkman.lkmPostion}">usrName</td>
                                            <td th:text="${cstLinkman.lkmTel}">usrName</td>
                                            <td th:text="${cstLinkman.lkmMobile}">usrName</td>
                                            <td th:text="${cstLinkman.lkmMemo}">usrId</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger">点击操作</button>
                                                    <button type="button" class="btn btn-danger dropdown-toggle"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="editInfo" href="/customer/edit?usrId=1" th:href="@{/customer/toEditLinkman(lkmId=${cstLinkman.lkmId})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="编辑">编辑</a></li>
                                                        <li ><a class="delInfo" id="del" href="#" th:onclick="|doDel(this,${cstLinkman.lkmId})|"
                                                                                                                             data-toggle="tooltip" data-placement="top" title=""
                                                                                                                             data-original-title="删除">删除</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="row" th:if="${cstCustomersPage.totalElements>5}">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="datatable-responsive_info"
                                         role="status" aria-live="polite">共<span th:text="${cstCustomersPage.totalElements }">1</span>条记录
                                        <span th:text="${cstCustomersPage.number+1 }">1</span>/<span th:text="${cstCustomersPage.totalPages }">1</span>页</div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                         id="datatable-responsive_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" th:if="${cstCustomersPage.number gt 0}"><a
                                                    href="javascript:page_nav(document.forms[0],1);"
                                                    aria-controls="datatable-responsive" data-dt-idx="0"
                                                    tabindex="0">首页</a>
                                            </li>
                                            <li class="paginate_button " th:if="${userPager.number gt 0}">
                                                <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${userPager.number }+');'"
                                                   aria-controls="datatable-responsive" data-dt-idx="1"
                                                   tabindex="0">上一页</a>
                                            </li>
                                            <li class="paginate_button " th:if="${cstCustomersPage.number gt 0}"><a
                                                    href="#"
                                                    th:onclick="'javascript:page_nav(document.forms[0],'+${cstCustomersPage.number}+');'"
                                                    aria-controls="datatable-responsive" data-dt-idx="1"
                                                    tabindex="0">上一页</a>
                                            </li>
                                            <li class="paginate_button " th:if="${(cstCustomersPage.number+1) lt cstCustomersPage.totalPages}"><a
                                                    href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${cstCustomersPage.number+2 }+');'"
                                                    aria-controls="datatable-responsive" data-dt-idx="1"
                                                    tabindex="0">下一页</a>
                                            </li>
                                            <li class="paginate_button next" th:if="${(cstCustomersPage.number+1) lt cstCustomersPage.totalPages}"><a
                                                    href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${cstCustomersPage.totalPages }+');'"
                                                    aria-controls="datatable-responsive" data-dt-idx="7"
                                                    tabindex="0">最后一页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script  layout:fragment="js">
    $("#back").on("click",function(){
        window.history.back();
    });
    function doDel(obj,lkmId){
        if(confirm("你确定需要删除该联系人信息吗？")){
            $.ajax({
                type:"GET",
                url:"/customer/del",
                data:"lkmId="+lkmId,
                dataType:"json",
                success:function(data){
                    if(data.flag == "true"){//删除成功：移除删除行
                        alert("删除成功！");
                        $(obj).parents("tr").remove();
                    }
                },
                error:function(data){
                    alert("对不起，删除失败！");
                }
            });
        }
    }

    /*var editstatus=$("#editStatus").val();
    if (editstatus==1){
        alert("保存成功");
    }else {
        alert(editstatus);
        alert("保存失败");
    }*/
    $(document).ready(function(){

    });
</script>
</html>